.header-container {
    height: 100px;
    background-color: red;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.header-icon {
    height: 50px;
}

#content {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}